#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
makina-states.projectname:
  data:
    ui_domain: ui.my.domain.tld
    domain: my.domain.tld
    server_aliases: []
    node_ver: '0.10.28'
    node_hash: '4b9cf9437decea3d9913b694ea2e9b0a06ced2dd'
    tile_hosts: [ui.my.domain.tld, my.domain.tld]
    troot: '{project_root}/tilestream'
    turl: https://github.com/makinacorpus/tilestream.git
    node: /srv/apps/node/{node_ver}/bin/node
    npm: /srv/apps/node/{node_ver}/bin/npm
    tiles: "{ftp_root}"
    node_host: '127.0.0.1'
    ui_port: 3002
    tile_port: 3002
    workers: 4
    nginx_ui_upstreams: salt://makina-projects/{name}/files/nginx.ui_upstreams.conf
    nginx_upstreams: salt://makina-projects/{name}/files/nginx.upstreams.conf
    vhost: salt://makina-projects/{name}/files/nginx.conf
    ui_vhost: salt://makina-projects/{name}/files/nginx_ui.conf
    json: salt://makina-projects/{name}/files/{name}.json
    secret: s3cret
    htpasswd: "/etc/{name}.htpasswd"
    docroot: '{data_root}/static'
    htaccess: '{project_root}/.htaccess'
    rftp_root: "/srv/ftp"
    ftp_root: "{rftp_root}/{name}"
    password: secret
    cron_periodicity: "*/10 * * * *"
    #ftp_port_range: "22000 22100"
    #ftp_ip: 178.33.47.236
    #users:
    #  - tadmin: {password: "{password}"}
    #  - uploader: {password: "{password}", home: "{ftp_root}/uploader"}
    http_downloads:
      - /downloads:
          path: "{ftp_root}"
          users: [tadmin]
      - /downloads/test.mbtiles:
          path: "{ftp_root}/test.mbtiles"
          users: [uploader]
# vim:set ft=sls:
